<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="widh=device-width", initial-scale="1">
    <link rel="stylesheet" href="/css/bootstrap.css ">
    <title>대파마켓</title>

    <style>
        body {
            background: #f3f3f3;
            margin-top: 20px;
            color: #616f80;
        }

        .card {
            border: none;
            margin-bottom: 24px;
            -webkit-box-shadow: 0 0 13px 0 rgba(236, 236, 241, .44);
            box-shadow: 0 0 13px 0 rgba(236, 236, 241, .44);
        }

        .avatar-xs {
            height: 2.3rem;
            width: 2.3rem;
        }
    </style>
    <script>
        $(document).ready(function (){

            $("#kategory").on("change", function (){
                const kategory = $("#kategory option:selected").val();
                const datas = {areaName: kategory};

                $.ajax({
                    url:"/boardTownWrite",
                    type: "post",
                    data: datas,
                    success: function (data){
                        let  selBox = $("#sel2");
                        selBox.empty();
                        selBox.append("<option>선택하세요</option>")

                        for (let i = 0; i < data.length; i++){
                            selBox.append("<option>"+ data[i].areaName + "</option>" );
                        }
                    },
                    error: function (){
                        alert("ajax통신 중 오류가 발생했습니다.")
                    }
                })
            })
        })
    </script>

</head>

<body>
<!-- 헤더 -->
<div th:if="${session.user == null}">
    <div th:insert="~{header.html::header}"></div>
</div>
<div th:if="${session.user != null}">
    <div th:insert="~{LoginHeader.html::header}"></div>
</div>

<form class="container" action="/boardTownWrite" method="post">
<input type="hidden" id="boardUserId" name="boardUserId" th:value="${session.user.userId}">
    <hr/>
    <div class="row" style="padding-left: 10%">
        <div class="col-md-10">
            <table class="table table-condensed">
                <div class="col-sm" style="width: 60px; margin-left: 8px">
                    <select class="form-control me-3" id="kategory" name="kategory">
                        <option value="분류" selected>분류</option>
                        <option value="질문">질문</option>
                        <option value="소식">소식</option>
                        <option value="맛집">맛집</option>
                        <option value="일상">일상</option>
                        <option value="취미">취미</option>
                        <option value="자유">자유</option>
                    </select>
                </div>
                <td colspan="2">
                    <input type="text"  class="form-control col-lg-12" id="boardTitle" name="boardTitle" style="width:100%" placeholder="제목">
                </td>
                <tbody>
                <tr>
                    <td colspan="2">
                        <textarea  class="form-control col-lg-12" id="boardContents" name="boardContents" rows="20" placeholder="내용"></textarea>
                    </td>
                </tr>
                </tbody>
            </table>

            <table class="table table-condensed">
                <thead>
                <tr>
                    <td>
                        <span style="float: left">
                            <a class="btn btn-success" href="/boardTown" role="button" style="background-color: rgba(0,204,0,0.6)">목록</a>
                        </span>
                        <span style='float:right'>
                            <button type="submit" class="btn btn-secondary btn-sm " style="background-color: rgba(0,204,0,0.6)" >완료</button>
                        </span>
                    </td>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <hr/>
</form>


</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
</body>

</html>