<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>대파마켓</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    #userImage{
        float: left;
    }
    /*#useruser{*/
    /*    border: 1px solid #befadc;*/
    /*    !*opacity:0.1;*!*/
    /*    border-radius: 30px;*/
    /*    height: 130px;*/
    /*}*/

    #footer {
        position: fixed;
        z-index: 1;
        background-color: green;
        left: 0;
        right: 0;
        bottom: 0;
        height: 5rem;
    }


    #heartImage{
        float: left;
    }

    #detailImg{
        width: 900px;
        text-align: center;
        margin: auto;
        display: block;
    }

    #detailImg{
        width: 70%;
        height: 70%;
    }
    #userImage{
        width:8%
    }

    .content_Img img {
        max-width: 40%;
        max-height: 40%;
    }

    #btn-zip{
        margin-right: 300px;
    }
    body{
        background-color: rgba(236,236,241,.44);
    }
    </style>
    <script>
        $(document).ready(function (){
            $('#edit').on('click',function (){
                const boardUserId = $('#boardUserId').text();
                const userId = $('#userId').val();
                const boardNum = $("#boardNum").val();
                const boardTitle = $("#boardTitle").val();
                const boardContents = $("#boardContents").val();
                const boardProState = $("#boardProState").val();

                if(userId == boardUserId){
                    $.ajax({
                        url:"/updateProductBoard",
                        type : "POST",
                        data : {boardNum : boardNum,
                            boardTitle : boardTitle,
                            boardContents : boardContents,
                            boardProState : boardProState
                        },
                        success : function(data) {
                            alert("수정되었습니다")
                            location.href='productList';
                        },
                        error : function (){
                            alert("통신오류");
                        }
                    });
                }
                else{
                    alert('수정 권한이 없습니다.')
                }
            });
            $("#delete").on("click", function() {
                const boardNum = $("#boardNum").val();
                const boardUserId = $('#boardUserId').text();
                const userId = $('#userId').val();
                console.log(userId)
                console.log(boardUserId)
                if(userId == boardUserId){
                    $.ajax({
                        url:"/deleteProductBoard",
                        type : "POST",
                        data : {boardNum : boardNum},
                        success : function(data) {
                            alert("삭제되었습니다");
                            location.href='/productList'
                        },
                        error : function (){
                            alert("통신오류");
                        }
                    });
                }
                else{
                    alert('삭제 권한이 없습니다.')
                }
            });
        });

    </script>
</head>

<body>
<!-- 헤더 -->
<div th:if="${session.user == null}">
    <div th:insert="~{header.html::header}"></div>
</div>
<div th:if="${session.user != null}">
    <div th:insert="~{LoginHeader.html::header}"></div>
</div>

<div class="container">
    <form id="frm" method="post">
    <!--    글쓰기 부분-->
        <input type="hidden" id="userId" name="boardUserId" th:value="${session.user.userId}">
    <div class="row">
    <div class=" mx-auto">
      <div class="my-3 mt-4 p-4">
        <div>
            <input type="hidden" id="boardNum" name="boardNum" th:value="${board.boardNum}">
            <div class="content_Img">
                <img class="card-img-top" id="detailImg"  th:src="${board.filePath}" alt="..." style="opacity: 1;">
          </div>
            <br><br>
          <div id="useruser">
            <img src="/YuriImage/user.png" alt="Logo" class="ms-1 me-4" id="userImage">
              <p class="fs-4 fw-bold" th:text="${board.boardUserId}" id="boardUserId" name="boardUserId"></p>
              <p class="" th:text="${board.locationName}"></p>
<!--                <p align="right" class="me-5">  <img src="/YuriImage/tem2.png" width="80" height="80" style=""></p>-->
              <div id="user" name="user"
                   th:value="|&emsp; ${board.locationName}&emsp; ${board.userManner}/5.0|"
                    style="border: none; background: transparent; font-size: 15px; color: #4d5154; font-weight: bold" readonly>
          </div>

          <br><br>
              </div>
          <br><hr>

<!--          제목-->
        <div class="container">
        <!--                    <label class="form-label" for="title" >글제목</label>-->
                <input type="text" class="form-control" id="boardTitle" name="boardTitle" placeholder="제목" th:value="${board.boardTitle}"
                style="border: none; background: transparent; font-size: 40px; font-weight: bold">
            </div>

<!--          카테고리명-->
        <div class="p-2">
            <input type="text" class="form-control" id="kategory" name="kategory" placeholder="" th:value="|${board.kategoryName}&emsp; ${board.boardDate}|" readonly
                    style="border: none; background: transparent; font-size: 15px; color: #4d5154">
        </div>
            <div class="my-3 mt-4 col-sm" >
                <select class="form-control" id="boardProState" name="boardProState" style="width: 100px; margin-left: 8px">
                    <option value="0" selected>판매중<br> &#9660;</option>
                    <option value="1">예약중</option>
                    <option value="2">거래완료</option>
                </select>
            </div>
        <div class="mt-4 p-2">
        <!--                    <label class="form-label" for="contents">글내용 : </label>-->
           <textarea class="form-control" id="boardContents" name="boardContents" rows="10"
                    th:text="${board.boardContents}"  style="border: none; background: transparent;"></textarea>
      </div>
            <div class="mt-4 p-2">
<!--                <label class="form-label" for="hitCnt">조회수 :</label>-->
                <p class="form-control" id="hitCnt" name="hitCnt" th:text="'조회수 : '+${board.boardHitCnt}"  style="border: none; background: transparent;"></p>
            </div>
        </div>
      </div>
    <div class="my-3 mt-3">
        <hr>
<!--        <p>지도넣는 위치</p>-->

        <p class="fw-bold fs-4 mb-5"> 거래희망장소
        <div>
        <div class="" id="map" style="width:70%;height:550px;"></div>
        </div>

<!--        <p class="fw-bold fs-4 mt-3"> 거래희망장소-->
<!--        <div id="map" style="width:100%;height:550px;"></div>-->

        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bc9a41328d11782e12d6ff10ea00364d"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var mapX = [[ ${board.mapX} ]];
            var mapY = [[ ${board.mapY} ]];


            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(mapX, mapY), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };

            var map = new kakao.maps.Map(mapContainer, mapOption);


            // 마커가 표시될 위치입니다
            var markerPosition  = new kakao.maps.LatLng(mapX,mapY);

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                position: markerPosition
            });

            // 마커가 지도 위에 표시되도록 설정합니다
            marker.setMap(map);
            //<a href="https://map.kakao.com/link/to/거래장소,' + mapX + ',' + mapY + '" style="color:blue" target="_blank"
            var iwContent = '<div style="padding:5px;">거래희망장소 <br><a href="https://map.kakao.com/link/map/거래희망장소,' + mapX + ',' + mapY + '" style="color:blue" target="_blank">큰지도보기</a> <a href="https://map.kakao.com/link/to/거래희망장소,' + mapX + ',' + mapY + '" style="color:blue" target="_blank">길찾기</a></div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
                iwPosition = new kakao.maps.LatLng(mapX, mapY); //인포윈도우 표시 위치입니다

            // 인포윈도우를 생성합니다
            var infowindow = new kakao.maps.InfoWindow({
                position : iwPosition,
                content : iwContent
            });

            // 마커 위에 인포윈도우를 표시합니다. 두번째 파라미터인 marker를 넣어주지 않으면 지도 위에 표시됩니다
            infowindow.open(map, marker);


        </script>
    </div>
    </div>

        <hr>
    </div>
    </form>
    </div>
        </div>
    </div>

        <div class="container">
                    <div class="col-sm d-flex justify-content-end">
                        <button type="button" class="btn btn-outline-warning me-2" id="edit">수정</button>
                        <button type="button" class="btn btn-outline-danger" id="delete">삭제</button>
                </div>

    </form>
        <div class="container mt-5 p-5">
        <hr>
        </div>
        </div>

        <div id="footer">
            <div class="container">
            <div class="my-3 mt-4 ms-5">
                <img src="/YuriImage/heart.png" height="50px" id="heartImage">
                <div class="ms-5">
                    <div class="row justify-content-between">
                        <div class="col-4">
                            <p class="ms-4" th:text="${board.boardProPrice} + '원'" style="color: white; font-size: 30px"></p>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-light" type="button">채팅하기</button>
                            <button class="btn btn-light" type="button">구매하기</button>
                            <a class="btn btn-light" href="/Review?boardUserId=" th:attrappend="href=${board.boardUserId}" role="button">후기작성하기</a>
                        </div>
<!--                <p class="ms-4" th:text="${board.boardProPrice} + '원'" style="color: white; font-size: 30px"></p>-->
<!--                <button class="btn btn-success" type="button">채팅하기</button>-->
                </div>
            </div>
            </div>
        </div>
</div>

</body>
</html>