<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    #kTitle{
      color: #00FF80;
      font-weight: bold;
      font-size: 20px;
    }
    #userImage{
        float: left;
    }
    #useruser{
        border: 1px solid #befadc;
        /*opacity:0.1;*/
        border-radius: 30px;
        height: 130px;
    }

    #footer {
        position: fixed;
        background-color: green;
        left: 0;
        right: 0;
        bottom: 0;
        height: 6rem;
    }

    #price{
        color: white;
        font-size: 30px;
    }

    #heartImage{
        float: left;
    }
  </style>


  <!--헤더-->
  <div th:fragment="header">
    <div th:insert="~{header.html::header}"></div>
  </div>
</head>

<body>

<div class="container">
    <!--    글쓰기 부분-->
    <div class="row">
    <div class=" mx-auto">
      <div class="my-3 mt-4 p-4">
        <div class="row">
<!--          임시로 넣어놓은 이미지파일-->
          <div class="col-sm my-3">
            <a class="btn btn-link" th:each="list : ${board.fileList}" th:text="|${list.fileName} (${list.filePath} kb)|"></a>
          </div>
            <br><hr><br>
          <div id="useruser">
        <img src="/YuriImage/user.png" alt="Logo" width="80" height="80" class="ms-5" id="userImage">
              <p align="right" class="me-5"> <img src="/YuriImage/tem2.png"  width="80" height="80" style=""></p>
          <input type="text" class="form-control" id="user" name="user" placeholder="" th:value="|${board.boardUserId}&emsp; ${board.locationName}&emsp; ${board.userManner}|"
                 style="border: none; background: transparent; font-size: 15px; color: #4d5154; font-weight: bold">


          </div>
          <br><br>

<!--          제목-->
        <div class="mt-4 p-2">
        <!--                    <label class="form-label" for="title" >글제목  </label>-->
                <input type="text" class="form-control" id="title" name="title" placeholder="제목" th:value="${board.boardTitle}"
                style="border: none; background: transparent; font-size: 40px; font-weight: bold">
            </div>

<!--          카테고리명-->
        <div class="p-2">
            <input type="text" class="form-control" id="kategory" name="kategory" placeholder="" th:value="|${board.kategoryName}&emsp; ${board.boardDate}|"
                    style="border: none; background: transparent; font-size: 15px; color: #4d5154">
        </div>
      <div class="mt-4 p-2">
        <!--                    <label class="form-label" for="contents">글내용 : </label>-->
        <textarea class="form-control" id="contents" name="contents" rows="20"
                  th:text="${board.boardContents}"  style="border: none; background: transparent;"></textarea>
      </div>
            <div class="mt-4 p-2">
<!--                <label class="form-label" for="hitCnt">조회수 :</label>-->
                <p class="form-control" id="hitCnt" name="hitCnt"
                            th:text="'조회수 : '+${board.boardHitCnt}"  style="border: none; background: transparent;"></p>

            </div>
    <div class="my-3">
        <hr>
        <p>지도넣는 위치</p>
        <hr>
    </div>
      </div>

      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-success" type="button">채팅하기</button>
      </div>
      <div class="container mt-5 p-5">
        <hr>
      </div>
        </div>
        <div id="footer">
            <div class="container">
            <div class="my-3 mt-4 ms-5">
                <img src="/YuriImage/heart.png" height="50px" id="heartImage">

                <div class="ms-5">
                <p class="ms-4" th:text="${board.boardProPrice} + '원'" style="color: white; font-size: 30px"></p>
                <button class="btn btn-success" type="button">채팅하기</button>
                </div>
            </div>
            </div>
        </div>
    </div>
  </div>
</div>
</body>
</html>