<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        #title{
            color: #00FF80;
            font-size: large;
            font-weight: bold;
        }
        hr{
            background-color : pink;
        }

        .pagination > .active > a,
        .pagination > .active > span,
        .pagination > .active > a:hover,
        .pagination > .active > span:hover,
        .pagination > .active > a:focus,
        .pagination > .active > span:focus {
            background: #5bbebb;
            border-color: #5bbebb;
        }
        .page-link{
            color: #999;
        }
    </style>

<!--헤더-->
    <div th:fragment="header">
        <div th:insert="~{header.html::header}"></div>
    </div>
</head>
<body>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" th:if="${#lists.size(dataList.getList())} > 0" th:each="list : ${dataList.getList()}">
            <div class="card h-100">
                <img class="card-img-top mx-auto my-auto" th:src="${list.filePath}" alt="..." />
<!--                @{${list.filePath}}-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <h5 class="fw-bolder" th:text="${list.boardTitle}"></h5>
                        <div class="d-flex justify-content-center small text-warning mb-2">
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                        </div>
                        <span class="text-muted text-decoration-line-through"></span>
                        <span></span><br>
                        <span th:text="${list.boardProPrice}"></span><br>
                        <span th:text="${list.locationName}"></span><br>
                        <span th:text="${list.kategoryName}"></span>
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/productDetail?boardNum=" th:attrappend="href=${list.boardNum}" th:text="${list.stateName}"></a></div>
<!--                    <button class="btn btn-outline-success mt-auto text-center"><a href="/productDetail?boardNum=" th:attrappend="href=${list.boardNum}" style="text-decoration-line: none; color: black">보러가기</a></button>-->
                </div>
            </div>
        </div>
        </div>

<!--글쓰기버튼-->
        <form action="/productWrite" method="post">
            <button class="btn btn-outline-success" type="submit">글쓰기</button>
        </form>

    </div>

</section>
<!--페이지 번호-->
<nav>
    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${dataList.getPrePage()==0}?'disabled'">
            <a class="page-link" th:href="@{/productList(pageNum=${dataList.getPrePage()})}">&laquo;</a>
        </li>
        <li class="page-item" th:each="page : ${#numbers.sequence(dataList.getNavigateFirstPage(), dataList.getNavigateLastPage())}"
            th:classappend="${page==dataList.getPageNum()}?'active'">
            <a class="page-link" th:text="${page}" th:href="@{/productList(pageNum=${page})}"></a>
        </li>
        <li class="page-item" th:classappend="${dataList.getNextPage()==0}?'disabled'">
            <!--              getNextPage()로 다음 페이지가 있는지 확인 하고 없다면 disabled-->
            <a class="page-link" th:href="@{/productList(pageNum=${dataList.getNextPage()})}">&raquo;</a>
            <!--              pageNum 이름을 바꾸고 싶으면 controller에서 @RequestParam에 value=""로 넣어줘야 한다.-->
        </li>
    </ul>
</nav>
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>
</body>
</html>