<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>지역인증</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
<!--헤더영역-->
<div th:if="${session.user == null}">
    <div th:insert="~{header.html::header}"></div>
</div>
<div th:if="${session.user != null}">
    <div th:insert="~{LoginHeader.html::header}"></div>
</div>
<!--세션 아이디값 가져오기-->
<input type="text" th:value="${session.user.userId}" name="userId" id="userId">
<div class="container">
    <div class="row">
        <p class="fs-1 mt-5 p-5 fw-bold">지역인증</p>
        <textarea class="form-control" id="userAdd2" name="userAdd2" rows="20"
                    th:text="${user.userAdd2}"></textarea>

    </div>
</div>

</body>
</html>