<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>지역인증</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<h3>지역인증페이지</h3>
<!--헤더영역-->
<div th:if="${session.user == null}">
    <div th:insert="~{header.html::header}"></div>
</div>
<div th:if="${session.user != null}">
    <div th:insert="~{LoginHeader.html::header}"></div>
</div>

<h2>동네인증하기</h2>
</body>
</html>