<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="widh=device-width" , initial-scale="1">
    <link rel="stylesheet" href="/css/bootstrap.css ">
    <title>대파마켓</title>

    <style>
        body {
            background: #f3f3f3;
            margin-top: 20px;
            color: #616f80;
        }

        .card {
            border: none;
            margin-bottom: 24px;
            -webkit-box-shadow: 0 0 13px 0 rgba(236, 236, 241, .44);
            box-shadow: 0 0 13px 0 rgba(236, 236, 241, .44);
        }

        .avatar-xs {
            height: 2.3rem;
            width: 2.3rem;
        }
    </style>
    <script>
        $(document).ready(function (){

            $("#sel1").on("change", function (){
                const selectValue = $("#sel1 option:selected").val();
                const datas = {areaName: selectValue};

                $.ajax({
                    url:"/ajax/selectbox",
                    type: "post",
                    data: datas,
                    success: function (data){
                        let  selBox = $("#sel2");
                        selBox.empty();
                        selBox.append("<option>선택하세요</option>")

                        for (let i = 0; i < data.length; i++){
                            selBox.append("<option>"+ data[i].areaName + "</option>" );
                        }
                    },
                    error: function (){
                        alert("ajax통신 중 오류가 발생했습니다.")
                    }
                })

            })

        })
    </script>

</head>

<body>
<div class="container" style="padding-top: 30px">

</div>

<nav class="navbar navbar-expand-lg bg-light col-md-8 offset-md-2 ">
    <div class="container-fluid" style="background-color: rgba(66,177,100,0.6); padding-top: 15px; padding-bottom: 15px">
        <a class="navbar-brand col-md-2" href="#" style="font-size: 33px; padding-left: 50px"><img src="/image/logo.png" alt="Logo" width="50" height="50" style="padding-right:10px" class="d-inline-block align-text-top">대파마켓</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-size: large">
                <li class="nav-item">
                    <a class="nav-link active" style="padding-left: 50px" aria-current="page" href="#">중고거래</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="padding-left: 50px" href="#">동네생활</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="padding-left: 50px" href="#">채팅</a>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        접속하기
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">로그인</a></li>
                        <li><a class="dropdown-item" href="#">회원가입</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>

<div class="container">
    <hr/>
    <div class="row" style="padding-left: 10%">
        <div class="col-md-10">
            <table class="table table-condensed">
                <div class="col-sm" style="width: 60px; margin-left: 8px">
                    <select class="form-control me-3" id="sel1">
                        <option value="" selected>분류</option>
                        <option value="동네질문">질문</option>
                        <option value="동네소식">소식</option>
                        <option value="동네맛집">맛집</option>
                        <option value="일상">일상</option>
                        <option value="취미생활">취미</option>
                    </select>
                </div>
                <td colspan="2">
                    <input type="text" id="boardTitle" class="form-control col-lg-12" style="width:100%" placeholder="제목" >
                </td>
                <tbody>
                <tr>
                    <td colspan="2">
                        <textarea id="commentParentText" class="form-control col-lg-12"  rows="20" placeholder="내용"></textarea>
                    </td>
                </tr>
                </tbody>
            </table>

            <table class="table table-condensed">
                <thead>
                <tr>
                    <td>
                        <span style="float: left">
                            <a class="btn btn-success" href="#" role="button" style="background-color: rgba(0,204,0,0.6)">목록</a>
                        </span>
                        <span style='float:right'>
                            <a class="btn btn-success" href="#" role="button" style="background-color: rgba(0,204,0,0.6)">완료</a>
                        </span>
                    </td>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <hr/>
</div>


</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
</body>

</html>