<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<div th:fragment="footer">
    <!--    <div class="container" style=" padding-top: 5px">-->
    <!--    </div>-->
    <footer>
        <div class="container p-4" style="background-color: rgba(66,177,100,0.6); margin-top: 65px; height: 100px">
            <p class="m-0 text-center text-white" style="position: relative; top: 20px; ">Copyright &copy; PaMarket 2022</p>
        </div>
    </footer>
</div>
</body>
</html>