<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="widh=device-width", initial-scale="1">
  <link rel="stylesheet" href="/css/bootstrap.css ">
  <title>대파마켓</title>

  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

  <script>
    $(document).ready(function (){
      $('#btn-logout').on('click',function (){
        alert('로그아웃 하셨습니다.');
        location.href='/logout'
      })
    })
  </script>

</head>

<body>
<div th:fragment="header">
  <div class="container" style="padding-top: 30px">
  </div>
<nav class="navbar navbar-expand-lg bg-light col-md-8 offset-md-2 "   >
  <div class="container-fluid " style="background-color: rgba(66,177,100,0.6); padding-top: 15px; padding-bottom: 15px" >
    <a class="navbar-brand col-md-2"  href="/productList" style="font-size: 33px; padding-left: 50px"><img src="/image/logo.png" alt="Logo" width="50" height="50" style="padding-right:10px     " class="d-inline-block align-text-top">대파마켓</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-size: large">
        <li class="nav-item">
          <a class="nav-link active" style="padding-left: 50px" aria-current="page" href="/productList">중고거래</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="padding-left: 50px" href="/boardTown" >동네생활</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="padding-left: 50px" href="#">채팅</a>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="nav-link dropdown-toggle text-black fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="${session.user.userId}+'   님'">
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/myPage">마이페이지</a></li>
            <li><a class="dropdown-item btn" href="/logout">로그아웃</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>
</body>



</html>